@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
  --font-rem: "Rem", monospace;
}

.marker-label {
    font-family: var(--font-rem);
    font-size: .75rem;
    font-weight: 600;
    fill: #fafafa;
    text-transform: uppercase;
    pointer-events: none;
}

