@import "tailwindcss";

@theme {
  --font-rem: "Rem", monospace;
  --color-paper: #fafafa;      /* zinc-50  */
  --color-soft: #e4e4e7;       /* zinc-200 */
  --color-muted: #d4d4d8;      /* zinc-300 */
  --color-hard: #71717a;      /* zinc-500 */
  --color-ink: #27272a;        /* zinc-800 */
}

@media (prefers-color-scheme: dark) {
  :root {}
}