@import "tailwindcss";

@theme {
    --font-rem: "Rem", monospace;
    --color-paper: #fafafa;         /* zinc-50  */
    --color-soft: #e4e4e7;          /* zinc-200 */
    --color-muted: #d4d4d8;         /* zinc-300 */
    --color-hard: #71717a;          /* zinc-500 */
    --color-ink: #27272a;           /* zinc-800 */
}

:root {
    --swiper-theme-color: var(--color-paper) !important;
    --swiper-pagination-bottom: 60px !important;
    --swiper-pagination-bullet-inactive-color: var(--color-paper) !important;
    --swiper-pagination-bullet-inactive-opacity: 0.33 !important;
}

@media (min-width: 768px) {
    :root {
        --swiper-pagination-bottom: 20px !important;
    }
}

.swiper-pagination-custom .swiper-pagination-bullet {
    width: 18px;
    height: 1px;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.25);
    opacity: 1;
    transition: background 0.3s, width 0.3s;
}
.swiper-pagination-custom .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 0.8);
    width: 32px;
}